.hero {
  margin-bottom: 136px;
}
.hero__container {
  padding: 117px 85px;
  background-image: url("../images/home/desktop/image-hero-coffeepress.jpg");
  border-radius: 10px;
  background-size: cover;
  background-color: #a2a2a2;
  background-repeat: no-repeat;
}
.container {
}
.hero__content {
  color: var(--light-cream-bg);
  width: 493px;
}
.hero__title {
  margin-bottom: 32px;
}

.hero__description {
  opacity: 0.8;
  margin-bottom: 56px;
  width: 444px;
}
.hero__btn {
}
.btn {
}
